[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Kotlin style
root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 120
ktlint_code_style = ktlint_official

# Naming / formatting rules
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = enabled
ktlint_standard_package-name = enabled
ktlint_standard_class-naming = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled
